
.title {
    color: red;
}
.dog{
    font-size: 12px;
}
.box  {
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(@/images/logo.png);
    background-size: 100% 100%;
}